* {
  box-sizing: border-box;
  cursor: help;
 }
html {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  
}
  
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid white;
  margin: 5px;
  padding: 3px;
}

p {
  color: white;
  margin: 4px;
}
.group1 {
  margin: 0;
  padding-bottom: 20px;
}

.top {
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 70pt;
font-style: oblique;
padding: 0;
margin: 0;
text-align: center;
position: relative;
border-bottom: 3px solid white;


}


h2
 {
  font-size: 18pt;
  color: white;
  text-align: left;
  margin: 0%;
  display: inline;
 }

 h3 {
   color: white;
   background: none;
   border-radius: 2px;
   padding: auto;
   margin: auto;
   
 }

 ul, ol {
  
  color: white;
  list-style-type: none;
  width: 500px;
  height: auto;
  padding: 10px;
  font-size: 12pt;
   
}

