* {
  box-sizing: border-box;
  cursor: help;
 }
html {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;  
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid white;
  margin-top: 5px;
  padding: 3px;
  
}


.pics {
  display: inline-flex;
  margin: auto;
  padding-top: 20px;

}
a {
  align-content: flex-start;
}
  

p {
  color: white;
  margin: 15px;
}

.top  {
color: white;
font-family: 'Gloria Hallelujah', serif;
font-size: 70pt;
font-style: oblique;
padding: 0;
margin: 0;
text-align: center;
position: relative;
border-bottom: 3px solid white;


}
#topbar {
color: white;
font-family: 'Gloria Hallelujah', serif;
padding-bottom: 10px;
}

h2
 {
  font-size: 28pt;
  color: white;
  text-align: left;
  margin: 0%;
  /* display: inline; */
  padding-top: 5px;
  margin: 15px;

 }

 h3 {
   color: white;
   font-size: 18pt;
   /* padding-top: 50px; */
   /* margin: auto; */
   margin: 10px;

   
 }

 li {
  
  color: white;
  list-style-type: none;
  width: 500px;
  height: auto;
  padding: 5px;
  font-size: 12pt;
  /* margin: 15px; */

   
}

